@page "{name}"
@model ShopUI.Pages.ProductModel
@{
    ViewData["Title"] = "Product";
}

<h1>Product</h1>

<div>
    <p>@Model.Product.Id</p>
    <p>@Model.Product.Name</p>
    <p>@Model.Product.Value</p>
    <div>
        <form method="post">
            <label>Stock:</label>
            
            <select asp-for="CartViewModel.StockId">
                @foreach (var stock in Model.Product.Stock)
                {
                    <option value="@stock.Id">@stock.Description</option>
                }
            </select>
            <label>Qty: </label>
            <input asp-for="CartViewModel.Qty" />
            <button type="submit"> Submit</button>
        </form>
    </div>
</div>